# Configuration file

##########################################################################################################
# adding
#--------------------------------------------------------------------------------------------------------#
# There are two types of drops to add: items and entities.
# 
# In either case, the first options should be:
# 
#       <Entity name>-<Rarity>-<Only player kill (true or false)>-<Affected by looting (true or false)>,
# 
# Where:- The <Entity name> is the name of the entity, as appears in the Entity IDs.txt file.
# - The <Rarity> is the probability of the drop, from 0.0 to 1.0.
# - If <Only player kill> is true, the drop will only drop if the entity is killed by a
# player.
# - If <Affected by looting> is true, the drops will increase if killed with a weapon
# enchanted with looting.
# 
# Next you can specify the items or entities to drop, in a list. The list should be in the formats:
# 
#       ..._____i-<Item id>-<Min>-<Max>-<Weight (optional)>-<Metadata (optional)>-<NBT Tag (optional)>_____...
# 
# for items, or:
# 
#       ..._____e-<Entity id>-<Weight (optional)>-<NBT tag (optional)>_____...
# 
# for entities, where:
# - The <Item id> or<Entity id> is the string id for the item or entity.- The <Weight> is the chance that this drop will be chosen out of all the combined weights.
# Make sure it's bigger than 0. If you don't specify the weight, it will default to 1.
# 
# ###############################################  Examples  #############################################
# If you wanted zombies to drop feathers, you could write:
# 
#       Zombie-1.0-false-true_____i-minecraft:feather-1-3
# 
# If you wanted silverfish to have a chance to drop extra xp when killed by a player, you could put:
# 
#       Silverfish-0.7-true-false_____e-XPOrb-1-{Value:1}_____e-XPOrb-1-{Value:2}_____e-XPOrb-1-{Value:3}
# 
##########################################################################################################

adding {
    S:"Drops to add to entities:" <
        BlueSlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        ArmorCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BabyGhast-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BabySpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Basalz-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BlackberrySlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Blaze-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BlindingEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BlindingSilverfish-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Blitz-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Blizz-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BlueberrySlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BrainyZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BrutishPigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BrutishSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        BrutishZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        CaramelSlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        CaveSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Creeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        CultistCleric-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        CultistKnight-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        CultistLeader-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        CultistPortal-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        CursedEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        DarkCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        DeathCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        DesertSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        DirtCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        DoomCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        DrowningCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        EldritchGuardian-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        EnderCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Enderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FireBat-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FireCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FireSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FireZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FishingPigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FishingSilverfish-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FishingZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FlyingSilverfish-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        FlyingSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GatlingSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Ghast-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GhostSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GiantBrainyZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GiantPigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GiantSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GiantSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GiantZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GrapeSlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GravelCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        GravityCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Hellhound-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        HornedHuntsman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        HungryPigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        HungrySpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        HungryZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        IcyEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        JumpingCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        LemonSlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        LightningCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        LightningEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Lilith-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        MagmaCube-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        MiniCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        MiniEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        MiniGhast-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        MirageEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        MobEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        MotherSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        NinjaSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        PaleSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Pech-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        PigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        PlaguePigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        PlagueZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        PoisonSilverfish-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        PoisonSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        PoisonSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Reflection-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Silverfish-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Skeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Slime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SmallSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SmolderBlaze-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SniperSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Spider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpitfireSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SplittingCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        StrawberrySlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        TaintSporeSwarmer-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        TaintSwarm-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        ThiefEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        ThiefSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        ToughSilverfish-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        ToughSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        VampirePigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        WatermelonSlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        WebSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Wisp-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Witch-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        WitchSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        Zombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        ZombieVillager-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialBlaze-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialCaveSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialCreeper-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialEnderman-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialGhast-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialPigZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialSilverfish-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialSkeleton-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialSlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialSpider-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        SpecialZombie-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
        KingBlueSlime-0.00-true-true_____i-lootplusplus:QuestCoin-0-0
     >
}


##########################################################################################################
# removing
#--------------------------------------------------------------------------------------------------------#
# To remove an item drop from an entity, add entries, each on a new line
# in the format:
# 
#       <Entity name>_____<Item name>_____<Metadata (optional, or -1 for any)>_____<NBT tag (optional)>.
# 
# So if you wanted to remove rotten flesh as a drop from zombies, you could put
# 
#       Zombie_____minecraft:rotten_flesh
# 
# This will prevent any rotten flesh from dropping from zombies.
##########################################################################################################

removing {
    S:"Drops to remove from entities:" <
     >
}


